<ion-view>
  <viewstyle-selector id="events-viewstyle" view-style="$ctrl.viewStyle">
  </viewstyle-selector>
  <div ng-if="$ctrl.viewStyle.style == 'map'">
    <ion-content scroll="false">
      <map-view map-data="$ctrl.events">
        <event-view event="selectedMapData"></event-view>
      </map-view>
    </ion-content>
  </div>
  <div ng-if="$ctrl.viewStyle.style == 'list'">
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="event in $ctrl.events">
          <event-view event="event"></event-view>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
  <form class="floatingcontrols" ng-if="$ctrl.viewStyle.style === 'map'">
    <label class="controlbutton controlbutton-expander" id="radius-input">
      Radius: {{ $ctrl.searchOptions.radius }}
      <input id="radius-input" type="range" min="1" max="150"
             ng-model="$ctrl.searchOptions.radius">
    </label>
    <label class="controlbutton" id="filtering-checkbox">
      Showing:
      <span ng-if="$ctrl.searchOptions.filtering">
        favorites &amp; recommended
      </span>
      <span ng-if="!$ctrl.searchOptions.filtering">
        all artists
      </span>
      <input id="filtering-checkbox" type="checkbox" name="filtering"
             ng-model="$ctrl.searchOptions.filtering">
    </label>
    <button ng-click="$ctrl.refresh()">Refresh</button>
  </form>
</ion-view>
