<ion-view>
  <viewstyle-selector view-style="$ctrl.viewStyle"></viewstyle-selector>
  <div ng-if="$ctrl.viewStyle.style == 'map'">
    <ion-content scroll="false">
      <map-view map-data="$ctrl.events">
        <event-view event="selectedMapData"></event-view>
      </map-view>
    </ion-content>
  </div>
  <div ng-if="$ctrl.viewStyle.style == 'list'">
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="event in $ctrl.events">
          <event-view event="event"></event-view>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-view>
