<ion-view>
  <div ng-if="viewStyle.style == 'map'">
    <ion-content scroll="false">
      <map-view map-data="$ctrl.venues">
        <venue-view dynamic venue="selectedMapData"></venue-view>
      </map-view>
    </ion-content>
  </div>
  <div ng-if="viewStyle.style == 'list'">
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="venue in $ctrl.venues">
          <venue-view venue="venue" on-inspect="$ctrl.jumpToMap(venue)">
          </venue-view>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-view>
