<ion-view>
  <div class="bar bar-header">
    <form class="searchform">
      <label for="artistsfilter-input">
        Filter artists list
        <input id="artistsfilter-input" type="text"
               ng-model="$ctrl.artistFilter" ng-change="$ctrl.filterArtists()">
      </label>
      <button ng-click="$ctrl.filterArtists()">Apply</button>
    </form>
  </div>
  <ion-content>
    <ion-list class="artistslist">
      <ion-item ng-repeat="artist in $ctrl.artists">
        <artist-view artist="artist" favorite="$ctrl.isFavorite(artist)">
        </artist-view>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="$ctrl.loadArtists()"
                         immediate-check="true">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
